/* For devices with narrow screens, phones, tablets, etc. */
/* support these sizes: 320,480, 600, 768, 1024, 1200 Ethan Marcotte */
/*  * 1. 1201px and above huge screens * */
/*  * 2. 1025px to 1200px * */
/*  * 3. 769px to 1024px  * */
/*  * 4. 769px to 1024px  * */
/*  * 5. 601px to 768px  * */
/*  * 6. 600px and below  * */
/*  * 7. 481px to 600px  * */
/*  * 8. 480px wide and below * */
/*  * 9. iPhone Portrait * */
/*  * 10. iPhone Landscape * */

/*  * 1. 1625px and above huge screens * */
@media only screen and (min-width : 1625px)  {

    body.colors-on { background-color: #FFCCE6; }
    
}


/*  * 2. 1301px and above huge screens * */
@media only screen and (min-width : 1301px)  {

    body.colors-on { background-color: #CCE6FF; }

} /*  * END 2. 1301px and above huge screens * */


/*  * 3. 1025px to 1300px * */
@media only screen and (min-width : 1025px) and (max-width : 1300px) {

    body.colors-on { background-color: #FFE6CC; }

} /*  * END 3. 1025px to 1300px * */


/*  * 4. 769px to 1024px  * */
@media only screen and (min-width : 769px) and (max-width : 1024px) {

    body.colors-on { background-color: #FFCCCC; }

    /** Smaller margin on nav items **/
    nav li { margin-right: 2rem; }


} /*  * END 4. 769px to 1024px * */


/*  * 5. 601px to 768px  * */

@media only screen and (min-width : 601px) and (max-width : 768px) {

    body.colors-on { background-color: #AD5CFF; }

    /** Smaller font for text in header **/
    header { padding: 0; }
    header h1 { font-size: 4rem; }
    header h2 { font-size: 1.8rem; }

    /** Smaller margin on nav items **/
    nav li { margin-right: 1.5rem; }

    /** Half width for the images, with a bit of padding **/
    .media .span_1_of_6 { width:31.33%; padding: 1%;  margin: 0; } 
    .media .span_2_of_6 { width:64.66%; padding: 1%;  margin: 0; } 

} /*  * END 5. 601px to 985px  * */


/*  * 6. 600px and below-common things for 480px, 600px, and below .. IE 9 ignored this if it had 'only screen' in the query* */
@media (max-width : 600px) {

    body.colors-on { background-color: #FF8F8F; }

    /** Smaller font for text in header **/
    header { padding: 0; }
    header h1 { font-size: 1.8rem; }
    header h2 { font-size: 1.2rem; }

    /** Less horizontal margin **/
    #maincontent { width: 90%; }
 
    /** Full-width for video **/
    #example-video {
        width: auto;
        margin: 0;
    }

    /** Half width for the images, with a bit of padding **/
    .media .span_1_of_6 { width:48%; padding: 1%; } 


} /*  * END 6. 600px and below  * */


/*  * 7. 481px to 600px  * */
@media only screen and (min-width : 481px) and (max-width : 600px) {

    body.colors-on { background-color: #CCCCFF; }

} /*  * END 7. 481px to 600px  * */


/*  *  8. 480px wide and below many smart phones * */
@media only screen and  (max-width : 480px) {

    body.colors-on { background-color: #CCFFFF; }

    /** Hide navigation, show menu bar and icon **/
    nav ul { display: none; margin: 0; width: 100%; }
    nav li { display: block; margin: 0; }
    nav li a { 
        display: inline-block; 
        border-bottom: 1px solid #555;
        background-color: #333;
    }
    nav a { 
        width: 100%; 
        padding: 0.5rem 0;
        font-size: 1.3rem; 
        text-indent: 1rem; 
    }
    nav a#pull { 
        display: block; 
        background: url('../media/nav-icon.png') 95% center no-repeat;
    }

} /*  * END 9. iPhone Portrait * */


/*  * 10. iPhone Landscape. Since portrait has a max of 320 this effects the iPhone in landscape only * */
@media screen and (min-width: 321px) and (max-width: 480px) {

    body.colors-on { background-color: #CCFFCC; }

} /*  * END 10. iPhone Landscape * */
